*, *:after, *:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  border: 10px solid #5eabed;
}

.navigation {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li { list-style: none; }
  }
}

.container {
  padding: 50px;
}