extends ./templates/site-body.pug

block content
  h1 This is a cool example
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel saepe numquam, fugit quibusdam laboriosam excepturi suscipit illo aliquam cumque dolor rem tempora necessitatibus vero quis libero, perferendis minus, et consequuntur cupiditate! Saepe consequuntur amet vero nostrum aperiam. Molestiae veritatis, minus ut quis saepe aliquid, facere porro iusto debitis magni ipsa.
  p Llalalalalalalaal

.markdown_file
  inlcude:markdown-it ./files/file.md