---
title: INDEX
subtitle: This is my index page
---
extends _includes/layouts/site-body.pug

block content

	h2 This is a cool example lala
	p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel saepe numquam, fugit quibusdam laboriosam excepturi suscipit illo aliquam cumque dolor rem tempora necessitatibus vero quis libero, perferendis minus, et consequuntur cupiditate! Saepe consequuntur amet vero nostrum aperiam. Molestiae veritatis, minus ut quis saepe aliquid, facere porro iusto debitis magni ipsa.